<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="row">
<div class="col-md-4">
	
	<div class="form-group">
    <%= f.label :name , class: "control-label" %>
    <%= f.text_field :name, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <!-- f.text_field :date , value: Date.today -->
    <%= f.date_select :date %>
  </div>
	<div class="form-group">
	  <%= f.label :activity %><br>
	  <%= f.text_area :activity , class: "form-control"  %>
  </div>
  <div class="form-group">
	  <%= f.label :client_id, class: "control-label" %>
	  <%= collection_select(:task, :client_id, Client.all, :id, :name,{}, {:class => 'form-control'}) %> 
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= collection_select(:task, :project_id, Project.all, :id, :name, {:include_blank => ' ' },{:class => 'form-control'}) %>   
  </div>
  <div class="field">
    <%= f.label :place_id %><br />
    <%= collection_select(:task, :place_id, Place.all, :id, :name,{}, {:class => 'form-control'}) %>   
  </div>
</div>
<div class="col-md-1">
</div>
<div class="col-md-4">
  <div class="field">
    <%= f.label :type_id %><br />
    <%= collection_select(:task, :type_id, Type.all, :id, :name,{}, {:class => 'form-control'}) %> 
  </div>
  <div class="field">
    <%= f.label :system_responsible_id %><br />
    <%= collection_select(:task, :system_responsible_id, Responsible.all, :id, :firstname,{}, {:class => 'form-control'}) %>    
  </div>
  <div class="field">
    <%= f.label :place_responsible_id %><br />
    <%= collection_select(:task, :place_responsible_id, Responsible.all, :id, :firstname,{}, {:class => 'form-control'}) %>     
  </div>
	<div class="form-group">
    <%= f.label :observations %><br>
    <%= f.text_area :observations , class: "form-control"  %>
  </div>
	<div class="form-group">
    <%= f.label :hh %><br>
    <%= f.text_field :hh, class: "form-control"  %>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Create Task</button>

</div>
</div>
<% end %>
