<%= link_to 'New Task', new_task_path,  class: "btn btn-success btn-lg" %>

<h1>Listing tasks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Date</th>
      <th>HH</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
	<td>
	<% unless task.project %>	
		<%= task.project_id %>
	<% else %>
		<%= task.project.name %>
	<% end %>
	</td>
        <td><%= task.date %></td>
        <td><%= task.hh %></td>
        <td><%= link_to 'Show', task , class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_task_path(task), class: "btn btn-warning" %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


