<%= link_to 'New Task', new_task_path,  class: "btn btn-success btn-lg" %>

<h1>Listing tasks</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>Project</th>
      <th>Place</th>
      <th>Type</th>
      <th>Date</th>
      <th>System Responsible</th>
      <th>Place Responsible</th>
      <th>HH</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.client.name %></td>
	<td>
	<% unless task.project %>	
		<%= task.project_id %>
	<% else %>
		<%= task.project.name %>
	<% end %>
	</td>
	<td>
	<% unless task.place %>	
		<%= task.place_id %>
	<% else %>
		<%= task.place.name %>
	<% end %>
	</td>
	<td>
	<% unless task.type_id %>	
		<%= task.type_id %>
	<% else %>
		<%= task.type.name %>
	<% end %>
</td>
        <td><%= task.date %></td>
	<td><%= task.system_responsible_id %></td>
	<td><%= task.place_responsible_id %></td>
        <td><%= task.hh %></td>
        <td><%= link_to 'Show', task , class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


