<!DOCTYPE html>
<html>
<head>
  <title>DevisePruebas3</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="user_nav">
		<% if user_signed_in? %>
			logeado como : <%= current_user.email %>
			<%= link_to "tasks", tasks_path %>
			<%= link_to "salir", destroy_user_session_path, method: :delete %>
		<!--	%= link_to "editar", edit_user_registration_path %>
			 % if can? :manage, @users %>
				%= link_to "crear cuenta", new_user_registration_path %>
			% end %> -->

		<% else %>
			<%= link_to "login" , new_user_session_path %>
		<% end %>

	</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

</div>

<%= yield %>

</body>
</html>
